@model List<Customer>

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model)
    {
        <li>
            <strong>@customer.FirstName @customer.LastName</strong><br />
            Address: @customer.Address, @customer.City, @customer.State, @customer.PostalCode<br />
            Country: @customer.Country<br />
            Phone: @customer.Phone<br />
            Email: <a href="mailto:@customer.Email">@customer.Email</a>
        </li>
    }
</ul>

